@import "tailwindcss";

#root{
  box-sizing: border-box;
}

.custom-shape-divider-bottom-1767416435 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1767416435 svg {
    position: relative;
    display: block;
    width: calc(165% + 1.3px);
    height: 112px;
}

.custom-shape-divider-bottom-1767416435 .shape-fill {
    fill: #61f1a9;
}